
@{
    ViewBag.Title = "CostReport";
}

<h2>รายงานค่าใช้จ่ายในการดำเนินงาน</h2>

@{Html.RenderAction("GEReport15_Cost_Overall");}

@{Html.RenderAction("GEReport16_Cost_Time");}

@{Html.RenderAction("GEReport17_Cost_Promotion");}

@{Html.RenderAction("GEReport18_Cost_Profit");}

@{Html.RenderAction("GEReport19_Cost_Promotion_Summary");}

@{Html.RenderAction("GEReport20_Cost_Outsource");}

