@model IEnumerable<NicePictureStudio.Models.BarChartViewModel>
<div class="chart-wrapper">
    @(Html.Kendo().Chart(Model)
        .Name("GEReport14")
                .Title("รายงานสรุปการยกเลิกการให้บริการของลูกค้าเปรียบเทียบกับรูปแบบการให้บริการ")
        .Legend(legend => legend
            .Position(ChartLegendPosition.Top)
        )
        .ChartArea(chartArea => chartArea
            .Background("transparent")
        )
        .SeriesDefaults(seriesDefaults =>
        seriesDefaults.Column().Stack(true)
        )
        .Series(series =>
        {
            series.Column(
                    model => model.Data_1
                    ).Name("จำนวนรายการที่ถูกยกเลิก");

        })
        .CategoryAxis(axis => axis
            .Name("series-axis")
            .Line(line => line.Visible(false))
        )
        .CategoryAxis(axis => axis
            .Name("label-axis")
            .Categories(model => model.Catalogs)
            .Labels(labels => labels.Rotation(30))
        )
        .ValueAxis(axis => axis
            .Numeric()
                .Labels(labels => labels.Format("{0:###,###} รายการ"))

                // Move the label-axis all the way down the value axis
                .AxisCrossingValue(0, int.MinValue)
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0:###,###}")
            .Template("#= series.name #: #= kendo.toString(value,'\\#\\#,\\# รายการ') #")
        )
    )
</div>


