@model IEnumerable<NicePictureStudio.Models.BarChartViewModel>
<div class="chart-wrapper">
    @(Html.Kendo().Chart(Model)
        .Name("GEReport16")
        .Title("รายงานสรุปเปรียบเทียบรายจ่ายในแต่ละช่วงเวลา")
        .Legend(legend => legend
            .Position(ChartLegendPosition.Top)
        )
        .ChartArea(chartArea => chartArea
            .Background("transparent")
            .Height(800)
        )
        .Series(series =>
        {
            series.Bar(
                    model => model.Data_1
                    ).Name("ค่าใช้จ่ายในการดำเนินงาน");
        })
        .CategoryAxis(axis => axis
            .Name("series-axis")
            .Line(line => line.Visible(false))
        )
        .CategoryAxis(axis => axis
            .Name("label-axis")
            .Categories(model => model.Catalogs)
        )
        .ValueAxis(axis => axis
            .Numeric()
                .Labels(labels => labels.Format("{0:###,###} บาท"))

                // Move the label-axis all the way down the value axis
                .AxisCrossingValue(0, int.MinValue)
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0:###,###}")
            .Template("#= series.name #: #= kendo.toString(value,'\\#\\#,\\# บาท') #")
        )
    )
</div>
