@model IEnumerable<NicePictureStudio.Models.BarChartViewModel>
<div class="chart-wrapper">
    @(Html.Kendo().Chart(Model)
        .Name("IncomeStatement")
        .Title("รายงานสรุปรายรับประจำปี ของบริษัท รูปสวยโฟโต้จำกัด")
        .Legend(legend => legend
            .Position(ChartLegendPosition.Top)
        )
        .ChartArea(chartArea => chartArea
            .Background("transparent")
        )
        .Series(series =>
        {
            series.Column(
                    model => model.Data_1
                    ).Name("รายได้");
            series.Column(
                    model => model.Data_Group1_1
                    ).Name("กำไร");
        })
        .CategoryAxis(axis => axis
            .Name("series-axis")
            .Line(line => line.Visible(false))
        )
        .CategoryAxis(axis => axis
            .Name("label-axis")
            .Categories(model => model.Catalogs)
        )
        .ValueAxis(axis => axis
            .Numeric()
                .Labels(labels => labels.Format("{0:###,###} บาท"))

                // Move the label-axis all the way down the value axis
                .AxisCrossingValue(0, int.MinValue)
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0:###,###}")
            .Template("#= series.name #: #= kendo.toString(value,'\\#\\#,\\# บาท') #")
        )
    )
</div>
