
@{
    ViewBag.Title = "IncomeReport";
}

<h2>รายงานรายได้จากบริการถ่ายภาพ</h2>

@{Html.RenderAction("GEReport01_Income_Cost");}

@{Html.RenderAction("GEReport02_Income_Quarter");}

@{Html.RenderAction("GEReport03_Imcome_Promotion");}

@{Html.RenderAction("GEReport04_Profit_Percent_Time");}


@{Html.RenderAction("GEReport05_Promotion_Time");}

@{Html.RenderAction("GEReport06_Profit_ServiceType");}


@{Html.RenderAction("GEReport07_Cost_Income");}

@{Html.RenderAction("GEReport08_Sale_Income");}