
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{Html.RenderAction("GEReport01_Income_Cost");}

@{Html.RenderAction("GEReport02_Income_Quarter");}

@{Html.RenderAction("GEReport03_Imcome_Promotion");}

@{Html.RenderAction("GEReport04_Profit_Percent_Time");}


@{Html.RenderAction("GEReport05_Promotion_Time");}

@{Html.RenderAction("GEReport06_Profit_ServiceType");}


@{Html.RenderAction("GEReport07_Cost_Income");}

@{Html.RenderAction("GEReport08_Sale_Income");}

@{Html.RenderAction("GEReport09_Apprisal_ServiceType");}

@{Html.RenderAction("GEReport10_Apprisal_Photographer");}

@{Html.RenderAction("GEReport11_Apprisal_Overall");}

@{Html.RenderAction("GEReport12_Apprisal_Promotion");}

@{Html.RenderAction("GEReport13_Apprisal_Year");} 
 
@{Html.RenderAction("GEReport14_Cancel_ServiceType");}

@{Html.RenderAction("GEReport15_Cost_Overall");}

@{Html.RenderAction("GEReport16_Cost_Time");}

@{Html.RenderAction("GEReport17_Cost_Promotion");}

@{Html.RenderAction("GEReport18_Cost_Profit");}

@{Html.RenderAction("GEReport19_Cost_Promotion_Summary");}

@{Html.RenderAction("GEReport20_Cost_Outsource");}
