<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NicePictureStudioReporting.Properties.Settings.NicePictureStudioDB"
            connectionString="Data Source=localhost;Initial Catalog=NicePictureStudioDB;User ID=sa;Password=Welcome123;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
        <add name="NicePictureStudioReporting.Properties.Settings.NCStudioOLAP"
            connectionString="Data Source=localhost;Initial Catalog=NCStudioOLAP"
            providerName="Microsoft.AnalysisServices.AdomdClient" />
        <add name="NicePictureStudioReporting.Properties.Settings.NCStudioDW"
            connectionString="Data Source=TURBOPX-PC;Initial Catalog=NCStudioDW;Persist Security Info=True;User ID=sa;Password=Welcome123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>