@model IEnumerable<NicePictureStudio.Models.LineChartViewModel>
<div class="chart-wrapper">
    @(Html.Kendo().Chart(Model)
        .Name("MISChart07")
        .Title("รายงานวิเคราะห์แนวโน้มของความพึงพอใจลูกค้าตามรูปแบบของการให้บริการ")
        .Legend(legend => legend
            .Position(ChartLegendPosition.Bottom)
        )
        .ChartArea(chartArea => chartArea
            .Background("transparent")
        )
        .SeriesDefaults(seriesDefaults =>
            seriesDefaults.Line().Style(ChartLineStyle.Smooth)
        )
        .Series(series =>
        {
            series.Line(
                model => model.Data_1
                ).Name("PreWedding");
            series.Line(
                model => model.Data_Group1_1
                ).Name("Engagement");
            series.Line(
                model => model.Data_Group2_1
                ).Name("Wedding");
        })
        .CategoryAxis(axis => axis
            .Categories(model => model.Catalogs)
            .MajorGridLines(lines => lines.Visible(false))
        )
        .ValueAxis(axis => axis
            .Numeric().Labels(labels => labels.Format("{0}"))
            .Line(line => line.Visible(false))
            .AxisCrossingValue(-10)
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0}")
        )
    )
</div>
