@model IEnumerable<NicePictureStudio.Models.BarChartViewModel>
<div class="chart-wrapper">
    @(Html.Kendo().Chart(Model)
            .Name("MISchart04")
                    .Title("รายงานวิเคราะห์ลำดับของผลกาไรในแต่ละช่วงเวลา")
            .Legend(legend => legend
                .Visible(false)
            )
            .ChartArea(chartArea => chartArea
                .Background("transparent")
            )
            .Series(series =>
            {
                series.Bar(
                    model => model.Data_1
                    ).Name("กำไร");

            })
            .CategoryAxis(axis => axis
                .Categories(model => model.Catalogs)
                .MajorGridLines(lines => lines.Visible(false))
            )
            .ValueAxis(axis => axis
                .Numeric()
                .Max(3000000)
                .Line(line => line.Visible(false))
                .MajorGridLines(lines => lines.Visible(true))
                          .Labels(labels => labels.Format("{0:###,###} บาท"))
            )
            .Tooltip(tooltip => tooltip
                .Visible(true)
                        .Template("#= series.name #: #= kendo.toString(value,'\\#\\#,\\# บาท') #")
            )
    )
</div>
