
@model IEnumerable<NicePictureStudio.Models.BarChartViewModel>
<div class="chart-wrapper">
        @(Html.Kendo().Chart(Model)
            .Name("MISchart01")
            .Title("รายงานวิเคราะห์จำนวนเปอร์เซ็นกำไรที่ได้รับ ตามประเภทรายการนำเสนอการขาย")
            .Legend(legend => legend
                .Visible(false)
            )
            .ChartArea(chartArea => chartArea
                .Background("transparent")
            )
            .Series(series =>
            {
                series.Bar(
                    model => model.Data_1
                    ).Name("กำไรเฉลี่ย");
                //series.Bar(new double[] { 150, 80, 70 }).Name("Total Visits");
                //series.Bar(new double[] { 52000, 34000, 23000, 48000, 67000, 83000 }).Name("Unique visitors");
            })
            .CategoryAxis(axis => axis
                //.Categories("โปรโมชั่นต้นปี", "โปรโมชั่นปลายปี", "โปรโมชั่นสิ้นปี")
                .Categories(model=>model.Catalogs)
                .MajorGridLines(lines => lines.Visible(false))
            )
            .ValueAxis(axis => axis
                .Numeric()
                .Max(200)
                .Line(line => line.Visible(false))
                .MajorGridLines(lines => lines.Visible(true))
            )
            .Tooltip(tooltip => tooltip
                .Visible(true)
                .Template("#= series.name #: #= value # %")
            )
        )
    </div>

@*<div class="chart-wrapper">
    @(Html.Kendo().Chart()
        .Name("chart")
        .Title("Site Visitors Stats \n /thousands/")
        .Legend(legend => legend
            .Visible(false)
        )
        .ChartArea(chartArea => chartArea
            .Background("transparent")
        )
        .Series(series =>
        {
            series.Bar(new double[] { 150, 80, 70 }).Name("Total Visits");
            //series.Bar(new double[] { 52000, 34000, 23000, 48000, 67000, 83000 }).Name("Unique visitors");
        })
        .CategoryAxis(axis => axis
            .Categories("โปรโมชั่นต้นปี", "โปรโมชั่นปลายปี", "โปรโมชั่นสิ้นปี")
            .MajorGridLines(lines => lines.Visible(false))
        )
        .ValueAxis(axis => axis
            .Numeric()
            .Max(200)
            .Line(line => line.Visible(false))
            .MajorGridLines(lines => lines.Visible(true))
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Template("#= series.name #: #= value #")
        )
    )
</div>*@