@model IEnumerable<NicePictureStudio.Models.BarChartViewModel>
<div class="chart-wrapper">
    @(Html.Kendo().Chart(Model)
            .Name("MISchart03")
            .Title("รายงานวิเคราะห์ความพึงพอใจ สุงสุดและต่าสุดตามประเภทของผู้ให้บริการ")
            .Legend(legend => legend
                .Visible(false)
            )
            .ChartArea(chartArea => chartArea
                .Background("transparent")
            )
            .Series(series =>
            {
                series.Column(
                    model => model.Data_1
                    ).Name("คะแนนความพึงพอใจสูงสุด");
                series.Column(
                    model => model.Data_2).Name("คะแนนความพึงพอใจต้ำสุด");
                series.Column(
                    model => model.Data_Group1_1
                    ).Name("คะแนนความพึงพอใจสูงสุด");
                series.Column(
                    model => model.Data_Group1_2).Name("คะแนนความพึงพอใจต้ำสุด");
            })
            .CategoryAxis(axis => axis
                .Categories(model => model.Catalogs)
                .MajorGridLines(lines => lines.Visible(false))
            )
            .ValueAxis(axis => axis
                .Numeric()
                .Max(5)
                .Line(line => line.Visible(false))
                .MajorGridLines(lines => lines.Visible(true))
            )
            .Tooltip(tooltip => tooltip
                .Visible(true)
                .Template("#= series.name #: #= value #")
            )
    )
</div>

