@model IEnumerable<NicePictureStudio.Models.BarChartViewModel>
<div class="chart-wrapper">
    @(Html.Kendo().Chart(Model)
            .Name("MISchart08")
            .Title("รายงานวิเคราะห์กาไรขั้นต้นเปรียบเทียบกับรายได้ตามแต่ละรูปแบบของการให้บริการ")
            .Legend(legend => legend
                .Visible(false)
            )
            .ChartArea(chartArea => chartArea
                .Background("transparent")
            )
            .Series(series =>
            {

                series.Column(
                    model => model.Data_Group1_1
                    ).Name("คะแนนความพึงพอใจเต่ำสุด");
                series.Column(
                    model => model.Data_1
                    ).Name("คะแนนความพึงพอใจสุงสุด");
            })
            .CategoryAxis(axis => axis
                .Categories(model => model.Catalogs)
                .MajorGridLines(lines => lines.Visible(false))
            )
            .ValueAxis(axis => axis
                .Numeric()
                .Max(400000)
                .Line(line => line.Visible(false))
                .MajorGridLines(lines => lines.Visible(true))
            )
            .Tooltip(tooltip => tooltip
                .Visible(true)
                .Template("#= series.name #: #= value # %")
            )
    )
</div>


