@model IEnumerable<NicePictureStudio.Models.BarChartViewModel>
<div class="chart-wrapper">
    @(Html.Kendo().Chart(Model)
            .Name("MISchart09")
            .Title("รายงานวิเคราะห์รายได้ต่อพนักงานขายตามแต่ละรูปแบบของการให้บริการในแต่ละช่วงเวลา")
            .Legend(legend => legend
                .Visible(false)
            )
            .ChartArea(chartArea => chartArea
                .Background("transparent")
            )
            .Series(series =>
            {

                series.Column(
                    model => model.Data_1
                    ).Name("รายได้ PreWedding");
                series.Column(
                    model => model.Data_Group1_1
                    ).Name("รายได้ Engagement");
                series.Column(
                    model => model.Data_Group2_1
                    ).Name("รายได้ Wedding");
            })
            .CategoryAxis(axis => axis
                .Categories(model => model.Catalogs)
                .MajorGridLines(lines => lines.Visible(false))
                         .Labels(labels => labels.Rotation(30))
            )
            .ValueAxis(axis => axis
                .Numeric()
                .Max(6000000)
                .Line(line => line.Visible(false))
                .MajorGridLines(lines => lines.Visible(true))
                         .Labels(labels => labels.Format("{0:###,###} บาท"))
            )
            .Tooltip(tooltip => tooltip
                .Visible(true)
                        .Template("#= series.name #: #= kendo.toString(value,'\\#\\#,\\# บาท') #")
            )
    )
</div>
