@model IEnumerable<NicePictureStudio.Models.BarChartViewModel>
<div class="chart-wrapper">
    @(Html.Kendo().Chart(Model)
            .Name("MISchart10")
            .Title("รายงานวิเคราะห์ค่าใช้จ่ายในการดาเนินงานเปรียบเทียบกับรูปแบบการให้บริการในแต่ละช่วงเวลา")
            .Legend(legend => legend
                .Visible(false)
            )
            .ChartArea(chartArea => chartArea
                .Background("transparent")
            )
            .Series(series =>
            {

                series.Column(
                    model => model.Data_1
                    ).Name("PreWedding");
                series.Column(
                    model => model.Data_Group1_1
                    ).Name("Engagement");
                series.Column(
                    model => model.Data_Group2_1
                    ).Name("Wedding");
            })
            .CategoryAxis(axis => axis
                .Categories(model => model.Catalogs)
                .MajorGridLines(lines => lines.Visible(false))
            )
            .ValueAxis(axis => axis
                .Numeric()
                .Max(3000000)
                .Line(line => line.Visible(false))
                .MajorGridLines(lines => lines.Visible(true))
            )
            .Tooltip(tooltip => tooltip
                .Visible(true)
                .Template("#= series.name #: #= value # บาท")
            )
    )
</div>

