@model IEnumerable<NicePictureStudio.Models.BarChartViewModel>
<div class="chart-wrapper">
    @(Html.Kendo().Chart(Model)
            .Name("MISchart02")
            .Title("รายงานวิเคราะห์ลาดับความพึงพอใจสูงสุด และต่าสุดตามประเภทของการให้บริการ")
            .Legend(legend => legend
                .Visible(false)
            )
            //.SeriesDefaults(seriesDefaults => seriesDefaults.Column().Stack(true))
            .ChartArea(chartArea => chartArea
                .Background("transparent")
            )
            .Series(series =>
            {
                
                series.Column(
                    model => model.Data_Group1_1
                    ).Name("คะแนนความพึงพอใจเต่ำสุด");
                series.Column(
                    model => model.Data_1
                    ).Name("คะแนนความพึงพอใจสุงสุด");
            })
            .CategoryAxis(axis => axis
                .Categories(model => model.Catalogs)
                .MajorGridLines(lines => lines.Visible(false))
            )
            .ValueAxis(axis => axis
                .Numeric()
                .Max(6)
                .Line(line => line.Visible(false))
                .MajorGridLines(lines => lines.Visible(true))
            )
            .Tooltip(tooltip => tooltip
                .Visible(true)
                .Template("#= series.name #: #= value # คะแนน")
            )
    )
</div>
